:root{
    --primary-color: #f1324d;
    --secondary-color: #f9e6b2 ;
    --third-color: #FCB0B3 ;
    --text-color: #00000;
}

body{
    background-color: var(--secondary-color);
}

.table-wrap {
    min-height: 150%;
    width: 150%;
    overflow-y: auto;
    border-style: solid;
    border-color: var(--primary-color);
    background-color: var(--third-color);
}

td, th{
    color: var(--primary-color);
}

.navbar{
    background-color: var(--primary-color);
}
a, li{
    color: var(--secondary-color)
}

.btn-style{
    background-color: var(--primary-color);
    font-size: 1.3em;
}

.overskrift-size{
    font-size: 1.5em;
}

.navbarButton {
    border: none;
    background: none;
    padding: 0;
    margin-top: 10%;
    color: var(--secondary-color)
}



<!-- DROPDOWN -->

.dropbtn {
    background-color: var(--secondary-color);

    min-width: 100%;
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
}

.dropdown {
    width: 45%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--third-color);
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: var(--primary-color)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--third-color);
}